* {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(210, 205, 205);
  background-color: rgb(24, 23, 23);
}
a {
  text-decoration: none;
}
nav {
  z-index: 1000;
}
.nav-bar {
  display: flex;
  list-style: none;
  border: 2px solid grey;
  padding: 8px;
}
.nav-bar li {
  flex: 1;
}
ul,
ol {
  font-size: 24px;
}

.index-title {
  font-size: 48px;
  text-align: center;
  color: salmon;
}

/* Recipe Pages */

.food-picture {
  height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-header {
  text-align: center;
  border: 5px;
  background-color: rgb(30, 30, 87);
  border-color: rgb(56, 56, 157);
}

.subsection.header {
  text-align: center;
  font-size: 32px;
}
